header{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background: black;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px 0;
}

img{
    width: 500px;
    height: 300px;
}

.nav-link{
    display: inline-block;
    background: white;
    color: black;
    padding: 10px 30px;
    text-decoration-line: none;
}
.nav-link:hover{
    background: rgba(129, 128, 128);
}

.flex-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
}

section article{
    background-color: black;
    color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}